block variables

doctype html
html
  head
    block head

  body
    .wrapper
        .main
            block header            
            block section_top_my_work
            block section_about
            block section_map
            block footer                 