block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="!" name="author")
    meta(content="!" name="description")
    meta(content="!" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    script(src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript")
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css') 
  

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .wrapper
        .main
            block section_preloader
            block header
            block section_top_blog
            block section_blog
            block footer