block variables

doctype html
html
  head
    block head

  body
    .wrapper
        .main
            block header            
            block section_top
            block section_my_work
            block section_what_about_me                
            block footer                