block variables

doctype html
html
  head
    block head

  body
    .wrapper
        .main
            block header_authorization            
            block section_index
            block footer_transparent
               