footer.footer
	.footer__content
		.footer__content_top
			ul.footer__blocks
				li.footer__blocks-li
					.section-about_text_p.section-about_text_p_white
						p Этот сайт я сделал в рамках обучения в Школе<br> онлайн образования LoftSchool.
				li.footer__blocks-li.footer__blocks-li_menu
					.bottom-menu
						ul.bottom-menu-list
							li.bottom-menu-elem 
								a(href="my_work.html").bottom-menu-link Мои работы
							li.bottom-menu-elem 
								a(href="about.html").bottom-menu-link Обо мне
							li.bottom-menu-elem
								a(href="blog.html").bottom-menu-link Блог
							li.bottom-menu-elem
								a(href="index.html").bottom-menu-link Авторизация
					include ../elements/_social_icons
				li.footer__blocks-li 
					.section-about_text_p.section-about_text_p_white 
						p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.<br>— Martin Golding

		.footer__content_bottom 
			span.footer__content_bottom_text &copy; Евгений Клепнев | Создано с любовью в LoftSchool | 2016