- var sociale = ['vk', 'github', 'in']

footer.footer
	.footer__content
		.footer__content_top
			ul.footer__blocks
				li.footer__blocks-li Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				li.footer__blocks-li.footer__blocks-li_menu
					.bottom-menu
						ul.bottom-menu-list
							li.bottom-menu-elem 
								a.bottom-menu-link Мои работы
							li.bottom-menu-elem 
								a.bottom-menu-link Обо мне
							li.bottom-menu-elem
								a.bottom-menu-link Блог
							li.bottom-menu-elem
								a.bottom-menu-link Авторизация
					.bottom-sociale
						ul
							- for (var i = 0; i < sociale.length; i++)
								li.social__item
									a.social__link(href="#")
										svg.social__icon(class="social__icon_" + `${sociale[i]}`)
											use(xlink:href="assets/img/sprite.svg#" + `${sociale[i]}`)
				li.footer__blocks-li Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.<br>— Martin Golding

		.footer__content_bottom