block variables
//- var sociale = ['vk', 'github', 'in']
header.header 
	.header__bloks.header__social

		include ../elements/_social_icons		

	.header__bloks.header__menu
		.header__button
			.header__button-icon
				a.menu__link(href="#")
					i.fa.fa-bars(aria-hidden="true")

