section.section
	.container
		.section-about
			.section-about_block.section-about_block_left
				.section-about_title
					.main_title.main_title_section-about
						h1.main_title_h1 Обо мне
						.title_svg
							svg.section-about_bg_svg
								use(xlink:href="assets/img/sprite.svg#about_header")
				.section-about_info
					.section-about_img
						img.section-about_photo(alt="Фото" src="assets/img/photos/photo.jpg")
					.section-about_text
						h2.title Кто я
						.section-about_text_p 
							p Я веб разработчик из Новосибирска. Мне 27 лет. <br>Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
							p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.section-about_block.section-about_block_right
				h2.title.title_section-about Чем я могу быть<br> вам полезен
				.section-about_text_p 
					p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					ul
						li Frontend
							ul
								li HTML 5
								li CSS 3
								li JavaScript & Jquery
						li Backend
							ul
								li PHP
								li mySQL
								li Node.js & npm
								li Mongo.db
						li WorkFlow
							ul
								li Git
								li Gulp
								li Bower														
