section.section
	.container
		.section-top
			.section-top_about 
				.section-top_bg
					svg.section-top_bg_svg.section-top_bg_svg_blog
						use(xlink:href="assets/img/sprite.svg#blog_header")
				.section-top_avatar
					.section-top_photo
						img.section-top_img(alt="Фото" src="assets/img/photos/photo.jpg")
					.section-top_text
						h2.title.title_white Блог
						.section-top_info Статьи, которые я написал
				include ../elements/_corners_white