section.section
	.container
		.section-my-work
			.main_title.main_title_my-work
				h1.main_title_h1 Мои работы
				.title_svg
					svg.section-about_bg_svg
						use(xlink:href="assets/img/sprite.svg#works_header")
			.section-slider-wraper
				.slider__block-display
					.slider__display
							ul.slider__list
								li.slider__item.active(data-title="Первый сайт" data-skills="HTML CSS JS" data-link="https://www.yandex.ru/" data-src-prev="../../assets/img/slider/4.png" data-src-next="../../assets/img/slider/2.png")
									img.slider__item-img(src="../../assets/img/slider/1.png" alt="")
								li.slider__item(data-title="Второй Сайт" data-skills="NODE.JS" data-link="https://www.yandex.ru/" data-src-prev="../../assets/img/slider/1.png" data-src-next="../../assets/img/slider/3.png")
									img.slider__item-img(src="../../assets/img/slider/2.png" alt="")
								li.slider__item(data-title="Третий Сайт" data-skills="SCHMODE.JS" data-link="https://www.yandex.ru/" data-src-prev="../../assets/img/slider/2.png" data-src-next="../../assets/img/slider/4.png")
									img.slider__item-img(src="../../assets/img/slider/3.png" alt="")
								li.slider__item(data-title="Четревтый Сайт" data-skills="Тро-ло-ло" data-link="https://www.yandex.ru/" data-src-prev="../../assets/img/slider/3.png" data-src-next="../../assets/img/slider/1.png")
									img.slider__item-img(src="../../assets/img/slider/4.png" alt="")
				.section-block_slider_left
					.section-block_my-work
						.portfolio-description 
							h2.title.title_section-about Сайт школы онлайн <br>Образования
							.portfolio-description_text HTML, CSS, JS
							a.portfolio-description_link 
								i.fa.fa-bars(aria-hidden="true") 
									span.portfolio-description_link_span Посмотреть сайт
				.slider__block-controls
					.slider__block-slides.first_slider
						a.slider__block-button.slider__block-button_left
							svg.slider__block-button-svg.slider__block-button-svg_before
								use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
					.slider__block-slides.second_slider
						a.slider__block-button.slider__block-button_right
							svg.slider__block-button-svg.slider__block-button-svg_after
								use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
