section.section
	.container
		.section-what-about-me
			.section-what-about-me_wraper
				.main_title
					.main_title
						h1.main_title_h1.main_title_section-what-about-me Обо мне
						.title_svg
							svg.section-about_bg_svg
								use(xlink:href="assets/img/sprite.svg#about_header")
				.reviews-wraper
					.reviews-block
						.reviews-picture
							img.reviews-img(alt="Фото" src="assets/img/photos/photo.jpg")
						.section-about_text_p.reviews-text-italick
							p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.reviews-signature
							.reviews-signature_name Ковальчук Дмитрий
							.reviews-signature_position основатель Loftschool
					.reviews-block
						.reviews-picture
							img.reviews-img(alt="Фото" src="assets/img/photos/photo.jpg")
						.section-about_text_p.reviews-text-italick
							p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.reviews-signature
							.reviews-signature_name Ковальчук Дмитрий
							.reviews-signature_position основатель Loftschool
				.mail-block
					.mail-forn__wraper
						h2.title Связаться со мной
						form.mail-block__form
							input.mail-block__elem(type="text" name="name" placeholder="Имя")
							input.mail-block__elem(type="text" name="email" placeholder="Email")
							textarea.mail-block__elem.mail-block__form_textarea(name="comment" placeholder="Ваше сообщение")
							.mail-block__form-buttons
								input.mail-block__button(name="" type="submit" value="Отправить")
								input.mail-block__button(name="" type="reset" value="Очистить")
						

