section.section
	.container
		.section-top
			.section-top_about 
				.section-top_bg
					svg.section-top_bg_svg
						use(xlink:href="assets/img/sprite.svg#portfolio_header")
				.section-top_avatar
					.section-top_photo
						img.section-top_img(alt="Фото" src="assets/img/photos/photo.jpg")
					.section-top_text
						.section-top_name Владимир Астахов
						.section-top_info Лисный сайт веб разработчика
			.corners
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 76" preserveaspectratio="none" class="corners__svg"><polygon class = "corners__svg_white" points="0,0   0,77  500.8,77 500.8,75.5"></polygon><polygon class = "corners__svg_white" points="1000,0   1000,77   500,77  500,75.5"></polygon></svg>