section.section
	.container
		.section-top
			.section-top_about 
				.section-top_bg
					svg.section-top_bg_svg
						use(xlink:href="assets/img/sprite.svg#portfolio_header")
				.section-top_avatar
					.section-top_photo
						img.section-top_img(alt="Фото" src="assets/img/photos/photo.jpg")
					.section-top_text
						.section-top_name Евгений Клепнев
						.section-top_info Лисный сайт веб разработчика
					.section-top__block-bottom
						a.section-top__button
							svg.section-top__button-svg
								use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
				include ../elements/_corners_green