section.section
	.container
		.section-index
			.index-block
				.index-forn__wraper
					.section-index_photo
						img.section-index_img(alt="Фото" src="assets/img/photos/photo.jpg")
					.section-top_index
						.section-index_name Евгений Клепнев
						.section-index_info Личный сайт веб разработчика	
					include ../elements/_social_icons					
					.index-block__form-buttons
						a.index-block__button(href="my_work.html") Мои работы
						a.index-block__button(href="about.html") Обо мне
						a.index-block__button(href="blog.html") Блог





									