section.section
	.container
		.section-map
			#map.section-map__map
			.contacts
				h2.title Контакты
				.congtects__block
					ul.congtects__list
						li.contects__elem
							i.contects__icon.fa.fa-skype(aria-hidden="true") 
							span.contects__text klepnev-ea
						li.contects__elem
							i.contects__icon.fa.fa-envelope(aria-hidden="true") 
							span.contects__text klepnev-ea@yandex.ru
						li.contects__elem
							i.contects__icon.fa.fa-phone(aria-hidden="true") 
							span.contects__text 8-906-305-33-95
						li.contects__elem
							i.contects__icon.fa.fa-map-marker(aria-hidden="true") 
							span.contects__text Саратов