section.section
	.container
		.section-my-work
			.main_title
				h1.main_title_h1 Мои работы
				.title_svg
					svg.section-about_bg_svg
						use(xlink:href="assets/img/sprite.svg#works_header")
			.section-wraper.section-wraper_my-work
				.section-block.section-block_left
					.section-block_my-work
						.portfolio-description 
							h2.title.title_section-about Сайт школы онлайн <br>Образования
							.portfolio-description_text HTML, CSS, JS
							a.portfolio-description_link 
								i.fa.fa-bars(aria-hidden="true") 
									span.portfolio-description_link_span Посмотреть сайт
				.section-block.section-block_right
					.section-about_title Тут будет слайдер