html {
    width: 100%;
}

body {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: normal;
    color: #414141;
    height: 100%;
    width: 100%;   
    background: #f6f6f6; 
}

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


a { text-decoration: none;}

img {
    width: 100%;
    height: auto;
}

ul li { list-style: none;}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
main, 
menu, 
nav, 
section, 
summary,
div {
    display: flex;
}



// .wrapper {
//     position: relative;
//     overflow: hidden;
//     min-width: 960px;
//     height: 100%;
//     @extend %clearfix;
// }

// .main {
//     height: 100%;
// }

// .section {

// }

// .container {
//     margin: 0 auto;
//     position: relative;
//     width: 100%;
//     @extend %clearfix;    
// }


.wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    margin:0 auto;
    @extend %clearfix;
}

.main {
    flex-direction: column;    
    width: 100%;
    height: 100%;
}

.section {

}

.container {
    position: relative;
    width: 100%;
    @extend %clearfix;    
}

.main_title {
    position: relative;
    margin:0;
    width: 100%;

    text-align: center;
    text-transform: uppercase; 

}

.main_title_h1 {
    font-size:4rem;
    width: 100%;
    font-family: 'Sansus-Webissimo';    
    z-index:3;
    line-height:1em;
    text-align: center;
    flex: 1 1 auto; 

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 21px;
        width: 89px;
        height:3px;
        background-color: $dark;

    }           
}

.title_svg {
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    z-index:2;
    fill: $light_green;
    fill-opacity: .2;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;     
}

.section-about_bg_svg {
    width: 100%;
} 

.section-about_text {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.title {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Sansus-Webissimo'; 
    font-size: 2.3rem; 
    color: $dark_green;
    line-height:1.1em;
    text-transform: uppercase; 
    margin-bottom: 46px;   

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 23px;
        width: 89px;
        height:3px;
        background-color: $dark;

    }  

    &_white {
        color: #fff;

        &:after{
            background-color: #fff;           
        }
    }   
}

.section-about_text_p {
    padding-right:10px;
    p {
        font-family: 'Roboto-Regular';
        color: $dark_green;
        line-height:1.5em;
        margin-bottom:5px;
    }

    &_white {
        p {
            color: #fff;
        }
    }
}

.section-wraper {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: stretch;
    min-height:100px;       
}

.section-block {
    flex: 1;

    align-self: auto;

    &_left{
        background-color: #ebefe1;
    }

    &_right {
        background-color: #f4f5f0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        //padding: 0px 30px;        
    }
}


