%clearfix {
	&::after,
	&::before {
		content: '';
		display: block;
		clear: both;
	}
}

// @mixin fontFamily($style: 'Sansus-Webissimo') {
// 	@if $style == 'Ubuntu-Bold' {
// 		font-family: 'Ubuntu-Bold';
// 		} @else if $style == 'Ubuntu'{
// 			font-family: 'Ubuntu';
// 			} @else if $style == 'Ubuntu-Medium'{
// 				font-family: 'Ubuntu-Medium';
// 				} @else if $style == 'Ubuntu-Light'{
// 					font-family: 'Ubuntu-Light';
// 					} @else if $style == 'Lifehack-Medium'{
// 						font-family: 'Lifehack-Medium';
// 						} @else if $style == 'Gagalin-Regular'{
// 							font-family: 'Gagalin-Regular';
// 						}
// 					}

					// @mixin box_shadow($shadow) {
					// 	-webkit-box-shadow: $shadow;
					// 	-moz-box-shadow: $shadow; 	
					// 	box-shadow: $shadow;	
					// }

					// @mixin border_radius($radius) {
					// 	-webkit-border-radius: $radius;
					// 	-moz-border-radius: $radius; 	
					// 	border-radius: $radius;	
					// } 

					// @mixin transition($transition) {
					// 	-webkit-transition: $transition;
					// 	-moz-transition: $transition; 	
					// 	transition: $transition;	
					// } 

					// @mixin transform($transform) {
					// 	-webkit-transform: $transform;
					// 	-moz-transform: $transform; 
					// 	-ms-transform: $transform;
					// 	-o-transform: $transform;					
					// 	transform: $transform;	
					// } 

					// @mixin filter($filter) {
					// 	-webkit-filter: $filter;
					// 	-moz-filter: $filter; 
					// 	-ms-filter: $filter;
					// 	-o-filter: $filter;					
					// 	filter: $filter;	
					// }  



					/*@include border_radius();*/
					/*@include transition();*/
 					/*@include transform();*/
 					/*@include filter();*/ 					