.header__autorization {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.button-autorization {
  color: #fff;
  border:1px solid #fff;
  padding:14px 20px;
  margin-right:5vw; 
  border-radius:40px;
  font-family: 'Roboto-Medium';
}