.section-index {
	position: relative;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("../../assets/img/images_1800/bg/forest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-index_photo {
	width: 142px;
	height: 142px;
	border-radius:50%;
	overflow: hidden;
	margin-bottom:20px;	
}

.index-block {
	width: 100%;
	height: 100%;
	flex: 0 1 auto;
	align-self: center;	
	justify-content: center;
	align-items: center;
	padding-bottom:50px;	
}

.login-forn__flip {
    position: relative;
    perspective: 1000;

    &.active {
        .index-wraper {
            transform: rotate3d(0, 1, 0, 180deg);
        }
    }     
}

.index-wraper {
    position: relative;
    width: 380px;
    min-height:500px;   
    transition:2s;
    transform-style: preserve-3d;
}

.index-forn__wraper {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;		
	background-color: rgba($dark, 0.8);
	border-radius: 5px 5px 0 0; 
	opacity:0.95;	
	padding: 41px 0px 0;
    backface-visibility: hidden;
}

.section-top_index {
	flex-direction: column; 
	width: 100%;
}

.section-index_name {
    display: inline-block;
    margin-bottom: 9px;
    font-family: 'Roboto-Medium';
    text-align: center;
    font-size: 2rem;
    line-height: 1.4em;
    color: #fff;
}

.section-index_info {
    display: inline-block;
    margin-bottom: 38px;    
    font-family: 'Roboto-Medium';
    text-align: center;
    font-size: 1rem;
    line-height: 1.4em;
    color: #fff;
}

.index-block__form-buttons {
     margin: 0 -20px;
    height: 46px;
    width:100%;
    margin-top: 40px;
}

.index-block__button {
    border: 0px;
    background-color: $light_green;
    flex: 1 0 auto;
    align-self: stretch;
    border-right: 2px solid #a2bd9d;
    color: #fff;
    font-family: 'Roboto-Regular';
    cursor: pointer;
    text-align: center;
    padding-top: 12px;
    transition:.3s;

    &:hover {
    	background-color: $green;   	
    }

    &:last-child {
    	border:0px;
    }
}


.login-block {
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
    align-self: center; 
    justify-content: center;
    align-items: center;
    padding-bottom:50px;    
}

.login-forn__wraper {
    position: absolute; 
    top: 0;
    left: 0;  
    width: 100%;
    flex-direction: column;
    background-color: rgba($dark, 0.8);
    border-radius: 5px 5px 0 0; 
    opacity:0.95;   
    padding: 20px 20px 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.login-block__form {
    flex-direction: column; 

}

.login-block__elem-wraper {
    width: 100%;
    border:0;
    padding: 16px;
    font-family: 'Roboto-Regular';
    color: #b5b4b2; 
    margin-bottom: 20px;
}

.login-block__elem-before {
    content: '';
    background-color: #f0efe9;
    width: 45px;
    border-radius: 25px 0 0 25px;   
    justify-content: center;
    align-items: center;
    color: #c4cbcd; 
}



.login-block__elem {
    width: 100%;
    border:0;
    padding: 16px;
    font-family: 'Roboto-Regular';
    border-radius: 0 25px 25px 0;   
    
}

.login__form-row {
    text-align: center;
    width: 100%;
}

.login__radio {
    width: 100%;
    color: #fff;
    font-family: 'Roboto-Regular';  
}

.login__radio-title {
    position: relative;
    top: -2px;
    padding-left: 5px;
    display: inline-block;
}

.login__question {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto-Regular';
    line-height:1em;
    padding: 20px 0;    
} 


.login-block__form-buttons {
    margin:0 -20px;
    height: 46px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    margin-top:40px;    
}

.login-block__button {
    border:0px;
    width: 100px;
    background-color: $light_green;
    flex: 1 0 auto;
    align-self: stretch;
    border-right:   2px solid #a2bd9d;
    color: #fff;
    font-family: 'Roboto-Regular';  
    cursor: pointer;
    text-align: center;
    padding-top:12px;

    &:hover {
        background-color: $green;       
    }


    &:last-child{
        border:0;
    }
}

.login__radio {
    display: inline-block;  
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
    white-space: nowrap;  


    input {
        display:none;
    }  
}

.login__radio-fake {
    display: inline-block;  
    position: relative;  
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius:50%;
        background: $green;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
}

.login__radio-elem:checked {
    & + .login__radio-fake {

        &:after {
            width: 8px;
            height: 8px;
        }

        & + .login__radio-title {
            color: $green;
        }
    }
}

.login__radio_checkbox {
    & + .login__radio-fake {
        border-radius: 3px;

    }
}


.login__radio_checkbox:checked {
    & + .login__radio-fake {
        background-color: $green;
        &:after {
            content: "";
            background: url("../img/icons/check.svg");
            background-repeat: no-repeat;
            background-size: contain;       
            width: 11px;
            height: 11px;
            
        }
    }
}
