.section-block-wraper {
    @include desctop {
        flex-wrap: wrap;
    }

     @include laptop {
        padding: 0 20vw;
        padding-bottom:47px;        
    }

     @include phones {
        padding: 0;
        padding-bottom:47px;        
    }        
}

.section-about_info,
.section-about_text,
.section-about_text_p {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;	
}

.section-about_title {
	width: 47%;

    @include desctop {
        width: 70%;
        margin: 0 auto;
    }    
}

.section-about_info {
	width: 53%;
  padding-left: 11px;

  @include desctop {
        width: 100%;
  }      	
}

.main_title_section-about {
	left: 17px;
}


.main_title_section-about {
	top: -41px;

    @include laptop {
        top: 0px;
    }     
}

.section-about_img {
    width: 96%;
    max-height: 410px;
    overflow: hidden;
    margin-bottom: 33px;
}

.section-about_photo {
    width: 100%;
    align-self: flex-start;	
}

.section-about_text {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;	
}


.title_section-about {
	top: 13px;
    min-height:130px;
    margin-bottom:0;

    @include tablets {
        min-height:90px;
    }     
}


/*skills*/

.skills {
    display: flex;
    flex-direction: column;
    margin-bottom:37px;
}

.skills__title {
    display: flex;    
    flex-direction: column;
    margin-top: 50px;    
    font-family: 'Roboto-Medium';
    color: $dark_green;
    font-size: 1.75rem;

     @include laptop {
        text-align: center;
    }               
}

.skills__list {
    display: flex;   
    flex-direction: row;
    flex-wrap:wrap;
    color: $green;
    font-size: 0.85rem; 

    @include laptop {
        justify-content: center; 
    }

     
}

.skills__elem {
    display: flex; 
    position: relative;    
    width: 122px;
    height: 122px;
    margin: 20px 40px 0 0;
    align-items: center;
    justify-content: center;

    @include phones {
        margin: 20px 0px;
    }    
}

.g_circles {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke-width: 21;

}
.sector {
    stroke-dasharray: 0 722;
    transition: all 1s;
    stroke: $green;    
}

.active .g_circles .sector {
 stroke-dasharray: 250 722;
}

.skills__text {
 max-width:64px;
 text-align: center 
}