 .section-my-work { 
    width:100%;  
    flex-direction: column;
}

.main_title_my-work {
     @include phones {
        background-color: #ebefe1;;
    }   
}

.section-wraper_my-work {
    display: block;
    position: relative;
    min-height:750px;
}

.section-block_my-work {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100%;
    width: 100%;
}

.portfolio-description {
    flex: 0 1 auto;
    align-self: center;
    flex-direction: column;
}

.portfolio-description_text {
    align-self: center; 
    color: $light_green; 
    font-family: 'Roboto-Medium';
    margin-bottom: 60px; 

    @include tablets {
        margin-bottom: 15px; 
    }          
}

.portfolio-description_link {
    background-color: $light_green; 
    align-self: center;     
    padding:15px; 
    color: #FFF; 
    width: 200px;
    text-align: center; 
    border-radius:100px;

    &_span {
        font-family: 'Roboto-Medium';
    }      
}



.section-slider-wraper {
    position: relative;
    display: block; 
    height: 100vh;   
}

.section-block_slider {
    display: block;
    position: absolute;
    float: left;
    height:100%;
}

.section-block_slider_left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;

    @include tablets {
        position:static;
        width: 100%;
        height: 30%;
    }     

}

.slider {
    display: block;
    position: relative;
   @extend %clearfix;
   width: 100%;
   height: 100%;
}

.slider__block-display {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    top: 0;    
    width: 50%;
    height: 80%;
    background-image: url("../../assets/img/slider/1.png");
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e1e4d7;
    box-shadow: 0 0 100px #e1e4d7 inset;
    z-index:10;

    @include tablets {
        position:static;
        width: 100%;
        height: 50%;        
    } 

}

.slider__block-controls {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    display: block;    
    height: 20%;

    @include tablets {
        position:static;
        width: 100%;
    }     
}

.slider__block-button {
    display: block; 
    position: relative;   
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("../../assets/img/slider/1.png");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center; 
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #b9beb5; /* Old browsers */
        background: -moz-linear-gradient(left,  #b9beb5 0%, #c2c6bd 49%, #b2b7ae 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #b9beb5 0%,#c2c6bd 49%,#b2b7ae 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #b9beb5 0%,#c2c6bd 49%,#b2b7ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9beb5', endColorstr='#b2b7ae',GradientType=1 ); /* IE6-9 */
        opacity: 0.5;
    }   
}

.slider__block-button-svg {
    position: relative;
    width: 43px;
    fill: #fff;
    z-index:100;
    opacity:0.8;
    

}

.slider__block-button-svg_after {
    transform: rotate(180deg);
}


/*slider*/

.works__content {
    display: block;
    width: 100%;
    @extend %clearfix;
}

.works__left {
    background: #f0efe9;
    position: relative;
}

.works__left, .works__right {
    float: left;
    width: 50%;
    height: 100vh;
    min-height: 650px;
}

.works-slider__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    @extend %clearfix;
}

.works-slider__content-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

.works-slider__display {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 30%;
}

.works-slider__display-pic {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.works__content-desc {
    padding: 1.25rem 0;
    border: 1px solid transparent;
    border-top-color: #acd6ce;
    border-bottom-color: #acd6ce;
    font-family: 'robotomedium';
    text-transform: uppercase;
    font-size: 1rem;
    color: #acd6ce;
    margin-bottom: 2.5rem;
}

.works .subtitle {
    max-width: 21rem;
}

.subtitle {
    margin-bottom: 2.5rem;
}

.subtitle {
    font-size: 2.1875rem;
    color: #455a64;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: 'bernier_regularregular';
    max-width: 14.375rem;
    text-align: center;
    margin-left: 2.8125rem;
    margin-right: 2.8125rem;
}

.letter-word {
    white-space: nowrap;
    display: inline-block;
}

.letter-span {
    opacity: 0;
    display: inline-block;
}

.letter-span.active {
    opacity: 1;
    animation: bounceIn 1s;
    -webkit-animation: bounceIn 1s;
}

.works__content-desc {
    padding: 1.25rem 0;
    border: 1px solid transparent;
    border-top-color: #acd6ce;
    border-bottom-color: #acd6ce;
    font-family: 'robotomedium';
    text-transform: uppercase;
    font-size: 1rem;
    color: #acd6ce;
    margin-bottom: 2.5rem;
}

.letter-word {
    white-space: nowrap;
    display: inline-block;
}

.letter-span.active {
    opacity: 1;
    animation: bounceIn 1s;
    -webkit-animation: bounceIn 1s;
}
.letter-span {
    opacity: 0;
    display: inline-block;
}

.works__content-view {
    display: inline-block;
    vertical-align: top;
    padding: 0.9375rem 1.25rem;
    background: #00bfa5;
    color: #fff;
    font-family: 'robotomedium';
    font-size: 1rem;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.works__content-view-icon {
    margin-right: 0.625rem;
}

.works__right {
    background: #efebe0;
}

.works-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.works-slider__controls {
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.works-slider__control-btn {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
    overflow: hidden;
    outline: none !important;
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #c5c5c5 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #c5c5c5 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%,#c5c5c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5c5c5',GradientType=1 );
    @extend %clearfix;
}

.works-slider__control-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.works-slider__control-btn_left .works-slider__control-item {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0%;
}

.works-slider___control-img {
    display: block;
    max-width: 70%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}