.section-about_info,
.section-about_text,
.section-about_text_p {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;	
}

.section-about_title {
	width: 47%;
}

.section-about_info {
	width: 53%;
  padding-left: 11px;	
}

.main_title_section-about {
	top: -10px;
	left: 17px;

}


.main_title_section-about {
	top: -41px;
}

.section-about_img {
    width: 96%;
    max-height: 410px;
    overflow: hidden;
    margin-bottom: 33px;
}

.section-about_photo {
    width: 100%;
		align-self: flex-start;	
}

.section-about_text {
    flex-direction: coll;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;	
}


.title_section-about {
	top: 13px;
}