.section-blog {
	position: relative;
	width: 100%;
	padding-top:69px;
	padding-bottom:185px;

	@include laptop {
		padding-bottom:270px;
	}	

	@include tablets {
		padding-bottom:320px;
	}		

}

.section-blog__list-topics {
	position: relative;
	width: 200px;
	flex: 1 0 auto;
	padding:0 4vw 0 0;
	text-align: right;
	transition: 0.6s;
	left:0%;	

	@include tablets {
		position: fixed;
		top: 0;
		height: 100%;
		left:-200px;
		color: #fff;
		background-color: $green;
		padding: 0;
	}	

	&.active {
		left:0%;
		width: 200px;

		& .list-topics__elem {
			display: inline-block;
			width: 100%;
		}				
	}
}

.list-topics {
	position: relative;
	z-index:100;
	align-self: flex-start;
	
	@include tablets {
		align-self: center;	
	}		
}



.list-topics__elem {
	padding: 15px;
	border-right:2px solid transparent;
	display: inline-block;
	&_active {
		border-right:2px solid $green;    	
	}
}

.list-topics__link {
	color: $green;
	font-family: 'Roboto-Medium';	

	@include tablets {
		color: #fff;
	}	

}

.list-topics__wraper {
	position: relative;
	align-self: flex-center;
	z-index:100;
}

.section-blog__button {
	display: none;
	position: absolute;
	width: 100px;
	height: 100px;
	right: -30px;
	border-radius:50%;
	top:50%;
  transform: translate(-11%, -50%);
	background-color: $green;
	z-index:50;
	cursor: pointer;

	@include tablets {
		display: block;
	}		
}

.list-article__elem {
	margin-bottom:20px;
	
	&:after {
		content: '';
		display: inline-block;
		height: 5px;
		width: 80%;
		margin-top:20px;
		background-color: #ecebe4;
	}
}

.section-blog__article {
	width: 200px;
	flex: 3 0 auto;
	align-self: stretch;

	@include tablets {
		padding:0 5vw;
	}		
}

.list-article__title {
	color: $dark_green;
	font-family: 'Sansus-Webissimo';	
	font-size: 25px;
	line-height:1em;
	margin-bottom: 20px;
}

.list-article__date {
	color: $green;
	font-family: 'Roboto-Medium';	
	margin-bottom: 20px;			
}