extends ../_layout_blog

block variables
	- var title = 'About'

block head  	
	include ../elements/_head

block header
	include ../section/_header

block section_top_blog
	include ../section/_section_top_blog

block section_blog
	include ../section/_section_blog

block footer
	include ../section/_footer