extends ../_layout_index

block variables
	- var title = 'Index'

block head  	
	include ../elements/_head	

block header_authorization
	include ../section/_header_authorization

block section_index
	include ../section/_section_index

block footer_transparent
	include ../section/_footer_transparent
