extends ../_layout

block variables
	- var title = 'Portfolio'

block header
	include ../section/_header

block section_top
	include ../section/_section_top

block section_about
	include ../section/_section_about

block section_map
	include ../section/_section_map	

block footer
	include ../section/_footer