extends ../_layout_login

block variables
	- var title = 'Index'

block head  	
	include ../elements/_head

block section_login
	include ../section/_section_login

block footer_transparent
	include ../section/_footer_transparent
