extends ../_layout_my_work

block variables
	- var title = 'Портфолио'

//- block head  	
//- 	include ../elements/_head

block header
	include ../section/_header

block section_top
	include ../section/_section_top

block section_my_work
	include ../section/_section_my_work

block section_what_about_me
	include ../section/_section_what_about_me

block footer
	include ../section/_footer

block section_preloader
	include ../section/_section_preloader