.corners
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 76" preserveaspectratio="none" class="corners__svg"><polygon class = "corners__svg_white" points="0,0   0,77  500.8,77 500.8,75.5"></polygon><polygon class = "corners__svg_white" points="1000,0   1000,77   500,77  500,75.5"></polygon></svg>
	.section-top__block-bottom
		a.section-top__button
			svg.section-top__button-svg
				use(xlink:href="assets/img/sprite.svg#portf_arrow_down")