mixin circle(circle_id)
	svg(id=circle_id width="122" height="122").g_circles
		circle(r="45" cx="61" cy="61" stroke="#ccc" fill="none")
		circle(r="45" cx="61" cy="61" stroke="crimson" transform="rotate(-90 61 61)").sector